 body {
	text-align: center;
	background-color: blue;color: black;
	position: relative;
	font-family: 'IM Fell English SC', serif;
	height: 300px;
	width: 500px;
	margin: auto;
	

} 

.intro h1 {
	font-family: 'IM Fell English SC', serif;
	text-align: center;
	font-size: 30pt;
} 

.intro h3 {
	font-family: 'IM Fell English SC', serif;
	text-align: center;
	font-size: 17pt;
}

.map {
	font-family: 'IM Fell English SC', serif;
	text-align: left;
	font-size: 17pt;
	width: 800px;
	margin: auto;
}

.map {
	position: relative; padding-bottom: 80%; height: 0; max-width: 100%;
	width: 800px;
	
}
